%div
  %h3 Bankruptcy Law
  %p Interstate Imaging`s well-trained Service Technicians, who consistently attend proper schooling to stay updated on the latest imaging equipment and its related software, can service most brands and modalities of equipment, as well as install and de-install any type of imaging equipment.
  %p We offer annual comprehensive service contracts for whole imaging departments or simply various equipment items in your facility, depending on your needs. Interstate Imaging also does fee-for-service work.
  %p Our Service Technicians also utilize CAD to provide our customers with the proper layout of their new Rad Rooms, while incorporating the proper electrical power requirements.
  %p Moreover, we also have a specifically dedicated Ultrasound-only Service Technician for any of your Ultrasound needs!
  %p
    Please contact our office at (812) 428-2612 or 
    %a{:href=>"mailto:AndrewBrinkmanii@gmail.com"} AndrewBrinkmanii@gmail.com 
    for any of your service needs.










