%h3 Carrie Harmon Miller
%div.salesall
  %p Carrie E. Harmon is a southern Indiana native and sole proprietor of Harmon Law Office, has extensive trial practice and experience in varied fields.  Carrie effectively and aggressively represents her clients, with timely responses to inquiries, fair rates, and passionate advocacy.  Carrie has experience in family, criminal, juvenile, probate, and administrative matters.  When you need help navigating legal processes or getting your voice heard in court, call Harmon Law Office.
  %br
  %p
    Contact Carrie at (812) 434-4981 or
    %a{:href=>"mailto:carrie@vjhmlaw.com"} carrie@vjhmlaw.com

