%h2 Carrie Harmon Miller
%div.salesall
  %p Carrie Harmon Miller is a southern Indiana native with extensive trial practice and experience in varied fields. Carrie effectively and aggressively represents her clients, with timely responses to inquiries, fair rates, and passionate advocacy. Carrie has experience in family, criminal, juvenile, probate, and bankruptcy law. Carrie graduated from the University of Southern Indiana in 2001 and obtained her juris doctorate from the University of Indiana – Indianapolis School of Law in 2004.  Carrie was admitted to the Indiana bar in 2004 and is a member of the Indiana Bar Association and the Evansville Bar Association.  Carrie is also admitted to practice in the United States District Court Southern District of Indiana.
  %br
  %p
    Contact Carrie at (812) 434-4918 or
    %a{:href=>"mailto:carrie@vjhmlaw.com"} carrie@vjhmlaw.com

