%div
  %h3 Contact
  %p
    123 NW 4th Street Suite #304
    %br
    Evansville, IN 47708
    %br
    Telephone: (812) 424-3518
    %br
    (812) 434-4981
    %a{:href=>"mailto:joneserice@gmail.com"} joneserice@gmail.com
    %br
    = image_tag "http://maps.googleapis.com/maps/api/streetview?size=200x200&location=#{"37.973245"}%2C#{"-87.57202699999999"}&heading=235&sensor=false"

AIzaSyCm_UUzF9z5AkV_3gjNkWyPK4kSIox4czY
