%h3 Katharine Vanost Jones
%div.salesall
  %p Katharine Vanost Jones has successfully resolved thousands of cases for our clients over the past 33 years.
  %p Practice is primarily in the area of Family Law, including:
  .sales1
    %ul
      %li Adoptions
      %li Mediation
      %li CHINS 
      %li Prenuptial Agreements
  .sales2
    %ul
      %li Divorce
      %li Child Custody
      %li Child Support
      %li Paternity and Post Paternity Litigation
  %br
  %p Katharine has also represented hundreds of Debtors in Bankruptcy and debt resolution matters.
  %br
  %p
    Contact Katharine at (812)424-3518 or
    %a{:href=>"mailto:kjones@vjhmlaw.com"} kjones@vjhmlaw.com
