$('evansvillepics').innerfade({
     animationtype: Type of animation 'fade' or 'slide' (Default: 'fade'),
     speed: Fadingspeed in milliseconds or keywords (slow, normal or fast)(Default: 'normal'),
     timeout: Time between the fades in milliseconds (Default: '2000'),
     type: Type of slideshow: 'sequence', 'random' or 'random_start' (Default: 'sequence'),
     containerheight: Height of the containing element in any css-height-value (Default: 'auto'),
     runningclass: (Default: 'innerfade') });
