%footer.footer
  %span
    Vanost Jones Harmon Miller Law | 123 NW 4th Street, Suite 301 | Evansville, IN 47708 | Telephone:(812) 424-3518
    %p
      Copyright
      = Time.now.year
      VJHM Law LLC
